.popup__container {
  position: relative;
  background-color: white;
  color: black;
  max-width: 358px;
  width: 100%;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  min-height: 258px;
  
}
@media all and (max-width: 600px) {
  .popup__container {
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
    margin-top: 123px;
    padding: 25px 22px;
  }
}
