.profile__change-button {
  background-color: transparent;
  background-image: url(../../../images/pen.svg);
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
}

.profile__change-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 1000px) {
  .profile__change-button {
    width: 18px;
    height: 18px;
  }
}
