.profile__add-button {
  border: 2px solid #ffffff;
  width: 150px;
  height: 50px;
  background-color: transparent;
  padding: 0;
  background-image: url(../../../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

}

.profile__add-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 1000px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}
